.product-card {
  background-color: #212e36;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
}

.product-image {
  height: 120px;
  width: 100%;
  object-fit: contain;

  display: block;
  margin: 0 auto 10px;
}

.product-addtoCartButton {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 10px;
}

.product-price {
  font-weight: bold;
}

.product-title {
  font-size: 14px;
}

.product-card {
  background-color: #212e36;
  padding: 16px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
}